@media screen and (min-width: 1080px)  {
	.sitemapContainer {
		width: 1080px;
	}
	.sitemapCategory {
	    float: left;
	}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
	.sitemapContainer {
		width: 768px;
	}
	.sitemapCategory {
	    float: left;
	}
}

@media screen and (max-width: 768px) {
	.sitemapCategory {
	    margin-left: auto;
    	margin-right: auto;
	}
}

.sitemapContainer {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.sitemapCategory {
	position: relative;
	padding: 30px;
	width: 340px;
	height: 340px;
}

.sitemapItem:hover {
	cursor: pointer;
	font-weight: bold;
	z-index: 10;
}

.sitemapContainer, .sitemapCategory, .sitemapItem {
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}

/* colors */
.sitemapCategory:nth-child(1) .sitemapItem {
	border: 2px solid #0075c9;
}

.sitemapCategory:nth-child(1) .sitemapItem:hover {
	color: white;
	background-color: #0075c9;
}

.sitemapCategory:nth-child(2) .sitemapItem {
	border: 2px solid #ffa400;
}

.sitemapCategory:nth-child(2) .sitemapItem:hover {
	color: white;
	background-color: #ffa400;
}

.sitemapCategory:nth-child(3) .sitemapItem {
	border: 2px solid #262729;
}

.sitemapCategory:nth-child(3) .sitemapItem:hover {
	color: white;
	background-color: #262729;
}

.sitemapCategory:nth-child(4) .sitemapItem {
	border: 2px solid #00953a;
}

.sitemapCategory:nth-child(4) .sitemapItem:hover {
	color: white;
	background-color: #00953a;
}

.sitemapCategory:nth-child(5) .sitemapItem {
	border: 2px solid #ec0044;
}

.sitemapCategory:nth-child(5) .sitemapItem:hover {
	color: white;
	background-color: #ec0044;
}

/* tree */
.tree .top {
	position: absolute;
	padding: 10px;
	width: 240px;
	height: 16px;
	border-radius: 5px;
	display: table;
	top: 30px;
	left: 30px;
}

.tree .child1 {
	position: absolute;
	margin-top: 10px;
	margin-left: 30px;
	width: 240px;
	height: 16px;
	padding: 10px;
	border-radius: 5px;
	display: table;
}

.tree .child1:nth-child(2) {
	top: 70px;
	left: 30px;
}

.tree .child1:nth-child(3) {
	top: 120px;
	left: 30px;
}

.tree .child1:nth-child(4) {
	top: 170px;
	left: 30px;
}

.tree .child1:nth-child(5) {
	top: 220px;
	left: 30px;
}

.tree .child1:nth-child(6) {
	top: 270px;
	left: 30px;
}

.tree .child1:nth-child(7) {
	top: 320px;
	left: 30px;
}

.tree .child1:hover {
	cursor: pointer;
	color: white;
	background-color: #ffa400;
}

.tree .sitemapItem > span {
	display: table-cell;
	table-layout: fixed;
	vertical-align: middle;
	text-align: left;
}

/* circle */
.circle .sitemapItem {
	position: absolute;
	display: table;
	table-layout: fixed;
	border-radius: 50%;
}

.circle .sitemapItem.top {
	padding: 10px;
	width: 150px;
	height: 150px;
	top: 95px;
	left: 95px;
}

.circle .sitemapItem.child1 {
	padding: 10px;
	width: 100px;
	height: 100px;
}

.circle .child1:nth-child(2) {
	top: 120px;
	left: 0px;
}

.circle .child1:nth-child(3) {
	top: 20px;
	left: 55px;
}

.circle .child1:nth-child(4) {
	top: 20px;
	left: 185px;
}

.circle .child1:nth-child(5) {
	top: 120px;
	left: 240px;
}

.circle .child1:nth-child(6) {
	top: 220px;
	left: 185px;
}

.circle .child1:nth-child(7) {
	top: 220px;
	left: 55px;
}

.circle .sitemapItem > span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
